@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Al sistema para el manejo de equipos y jugadores de la Liga Pro de Ecuador 2024. Selecciona una de las opciones en la cabecera para empezar.</a>.</p>
</div>
